.flex-column{
    flex-direction: column;
}

.register{
    height: 65vh;
    display: flex;
    flex-grow: 1;
    background-color:beige;
}

.footer {
    height: 35vh;
    display: flex;
    background-color: #111118;
    text-align: center;
}

.footer img{
    max-width: 87px;
    margin-bottom: 1rem;
}
.footer p{
    font-size: 0.7rem;
    max-width: 250px;
    margin-top: 0.2rem;
}

.button {
    border: solid 2px #ffeed1;
    color: #ffeed1;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
}

.register .container{
    display: flex;
    flex-grow: 1;
    justify-content: start;
}

.register h2{
    font-size: 40px;
    color: #111118;
    line-height: 1.1;
}

.sign-up{
    display: flex;
    flex-direction: column;
}

input{
    background: none;
    border: none;
    font-size: 21px;
    font-weight: 300;
    outline: none; 
    border-bottom: 2px solid #00b290;
    padding-bottom: 0.3rem;
}

input:focus{
    background: none;
    border: none;
    outline: none;
}

.email-input{
    /*This will tell our input to stretch and fill our available space*/
    flex: 1;
    
}

.submit{
    border: 3px solid #00b290;
    padding: 5px 10px;
    font-weight: 550;
    font-size: 1.5rem;
    max-width: 10rem;
    align-self: center;
}


label{
    color: #111118;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px){
    .register .container{
        flex-direction: column;
        width: 80%;
        margin-top: 0;
    }

    .register h2{
        margin-top: 1rem;
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .register{
        height: calc(65vh - 3rem);
    }
    
    .footer {
        height: calc(35vh - 3rem);
        margin-bottom: 6rem;
    }
    
    .footer img{
        max-width: 87px;
        margin-bottom: 0;
    }
}

@media (min-width: 768px){
    .register .container{
        min-width: 550px;
    }
}

    